{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.babashka/sci {:git/url "https://github.com/babashka/sci"
                    :git/sha "5e0fa09f9690a0c8b511e138a5d9f0516d456e0a"}
  funcool/promesa {:mvn/version "10.0.575"}
  medley/medley {:mvn/version "1.4.0"}}
 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {thheller/shadow-cljs {:mvn/version "2.21.0"}}}}}
